# Dependencies
node_modules/
client/node_modules/
server/node_modules/
client/package-lock.json
server/package-lock.json

# Logs
logs_snapshot.txt
*.log

# Build/Dist
dist/
build/

# OS/System files
.DS_Store
Thumbs.db
.env
