# Virtual Environment
venv/
.env

# Data Files (Keep structure, ignore data)
data/raw/adult.csv
data/processed/*.csv
!data/processed/.gitkeep

# Models and Serialization
features/feature_pipeline.pkl
models/*.pkl

# Logs & Monitoring 
logs/
monitoring/*.csv
monitoring/*.json

# Python Cache
__pycache__/
*/__pycache__/
*.py[cod]
.pytest_cache/

# Interactive/Temporary
get-pip.py
.ipynb_checkpoints/


