# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# Data files (don't push large datasets or processed csvs)
data/raw/
data/processed/
*.csv

# Model and pipeline artifacts
*.pkl
models/

# OS files
.DS_Store

# Pip installer helper
get-pip.py
