# Virtual Environment
venv/

# Data Files (Keep structure, ignore data)
data/raw/adult.csv
data/processed/*.csv
!data/processed/.gitkeep

# Models and Serialization
features/feature_pipeline.pkl

# Logs
logs/

# Python Cache
__pycache__/
utils/__pycache__/

# Interactive/Temporary
get-pip.py
.ipynb_checkpoints/
